section#post {
  .container-post {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
  }

  .container-post-left {
    margin-left: 36px;
    margin-right: 220px;
  }
  .container-post-right {
    margin-left: 220px;
    margin-right: 36px;
  }

  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  .container-post::after {
    content: "";
    clear: both;
    display: table;
  }

  .container-post img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
  }

  .container-post > img.right {
    float: right;
    margin-left: 20px;
    margin-right:0;
  }

  .time-right {
    float: right;
    color: #aaa;
  }

  .time-left {
    float: left;
    color: #999;
  }
  .mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
}