$theme-primary: #F05F40;
$theme-dark: #222;

@import
  'mixins',
  'base',
  'main/nav',
  'main/header',
  'main/countdown',
  'main/gallery',
  'main/location'
;

html, body {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article, aside, details, figcaption, figure, footer,
header, hgroup, main, menu,nav, section, summary {
  display: block;
}
hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
section {
  padding: 100px 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Marck Script', cursive;
}
